{{ define "title" }}
<title>{{ .Title }}</title>
{{ end }}
{{ define "content" }}


<div class="dash1">
    <!-- CONTENT -->
    <section id="content">


        <!-- MAIN -->
        <main>
            <div class="head-title">
                <div class="left">
                    <h1>Dashboard</h1>
                    <ul class="breadcrumb">
                        <li>
                            <a href="#">Dashboard</a>
                        </li>
                        <li><i class='bx bx-chevron-right'></i></li>
                        <li>
                            <a class="active" href="#">Home</a>
                        </li>
                    </ul>
                </div>
                <!-- <a href="#" class="btn-download">
					<i class='bx bxs-cloud-download' ></i>
					<span class="text">Download PDF</span>
				</a> -->
            </div>

            <ul class="box-info">
                <li>
                    <i class='bx bx-image'></i>
                    <span class="text">
                        <h3>{{ .Total }}</h3>
                        <p>Images</p>
                    </span>
                </li>
                <li>
                    <i class='bx bx-meh-alt'></i>
                    <span class="text">
                        <h3>{{ .TotalLow }}</h3>
                        <p>Low</p>
                    </span>
                </li>
                <li>
                    <i class='bx bx-like'></i>
                    <span class="text">
                        <h3>{{ .TotalMedium }}</h3>
                        <p>Medium</p>
                    </span>
                </li>
                <li>
                    <i class='bx bx-heart'></i>
                    <span class="text">
                        <h3>{{ .TotalHigh }}</h3>
                        <p>High</p>
                    </span>
                </li>
            </ul>

            <div class="table-data">
                <div class="order">
                    <div class="head">
                        <h3>Recent Uploads</h3>
                        <i class='bx bx-plus'></i>
                        <i class='bx bx-filter'></i>
                    </div>
                    <table>
                        <thead>
                            <tr>
                                <th>Image</th>
                                <th>Date Uploaded</th>
                                <th>Quantity</th>
                                <th>Limonene Content</th>
                            </tr>
                        </thead>
                        <tbody id="sampleTable">
                        </tbody>
                    </table>
                </div>
                <div class="card-body">
                    <div class="d-sm-flex d-block align-items-center justify-content-between mb-9">
                        <div class="mb-3 mb-sm-0">
                            <h5 class="card-title fw-semibold">Upload History</h5>
                        </div>
                        <div>
                            <select class="form-select">
                                <option value="1">Year 2024</option>
                                <option value="2">Year 2022</option>
                                <option value="3">Year 2021</option>
                                <option value="4">Year 2020</option>
                            </select>
                        </div>
                    </div>
                    <div id="my-chart">
                        <figure class="highcharts-figure">
                            <div id="container"></div>
                        </figure>
                    </div>

                </div>
            </div>
        </main>
        <!-- MAIN -->
    </section>
    <!-- CONTENT -->
</div>
<script>
    // Fetch data from the API
    fetch('api/custom_list/')
        .then(response => response.json())
        .then(data => {
            // Iterate over each object in the data array
            data.forEach(sample => {
                // Create a new row for each sample
                let row = document.createElement("tr");

                // Populate the row with sample data
                row.innerHTML = `
                <td>
                    <img src="${sample.Images}" alt="Sample Image" style="max-width: 100px; max-height: 100px;">
                    <p>${sample.Name}</p>
                </td>
                <td>${sample.Date}</td>
                <td><span class="lim-percent">${sample.LimonenePercent}%</span></td>
                <td>
                    <span class="status ${sample.IntensityNum === 1 ? 'low' : sample.IntensityNum === 2 ? 'medium' : 'high'}">
                        ${sample.Intensity}
                    </span>
                </td>

                `;

                // Append the row to the table
                document.getElementById("sampleTable").appendChild(row);
            });
        })
        .catch(error => console.error('Error fetching data:', error)
        );

    // var xValues = ["January", "February", "March", "April", "May", "June", "August", ];
    // var yValues = [55, 49, 44, 24, 15];
    // var barColors = ["red", "green","blue","orange","brown"];

    // new Chart("myChart", {
    // type: "bar",
    // data: {
    //     labels: xValues,
    //     datasets: [{
    //     backgroundColor: barColors,
    //     data: yValues
    //     }]
    // },
    // options: {
    //     legend: {display: false},
    //     title: {
    //     display: true,
    //     text: "World Wine Production 2018"
    //     }
    // }
    // });

    

</script>
{{ end }}