{{ define "title" }}
<title>{{ .Title }}</title>
{{ end }}
{{ define "content" }}


<div class="dash1">
    <div class="personality-wrapper">
    </div>
    <div class="daily-horoscope-card">
        This is dashboard
    </div>
    <div class="compatibility-other-card">
        <div class="compatibility">
            
        </div>
        <div class="other-zodiac">
            
        </div>
    </div>
</div>
<div class="dash2">
    <div class="user-zodiac">
        
    </div>
    <div class="lucky-picks">
        <div class="lucky-color">
            
        </div>
        <div class="lucky-num">
            
        </div>
    </div>
</div>
{{ end }}
