{{ define "title" }}
<title>{{ .Title }}</title>
{{ end }}
{{ define "content" }}


<div class="dash2">
    <form method="POST" class="file-upload-form" id="uploadForm" style="display: none;">
        <label for="file" class="file-upload-label icon-upload" id="fileUploadLabel" >
            <div class="file-upload-design">
                <i class='bx bx-cloud-upload' ></i>
                <p class="upload-label">Drag and Drop</p>
                <span class="or">or</span>
                <span class="browse-button">Browse file</span>
            </div>
            <input id="file" type="file" onchange="uploadImage()" />
        </label>
    </form>
    <!-- <div id="uploadModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <p>File uploaded successfully!</p>
        </div>
    </div> -->
    <div class="head-title">
        <div class="left">
            <h1>Images</h1>
            <ul class="breadcrumb">
                <li>
                    <a href="#">Images</a>
                </li>
                <li><i class='bx bx-chevron-right'></i></li>
                <li>
                    <a class="active" href="#">Uploads</a>
                </li>
            </ul>
        </div>
        <!-- <a href="#" class="btn-download">
            <i class='bx bxs-cloud-download' ></i>
            <span class="text">Download PDF</span>
        </a> -->
    </div>

    <div class="table-data">
        <div class="order">
            <div class="head">
                <h3>Uploaded Images</h3>
                <a href="#" class="btn-download" id="uploadBtn">
                    <i class='bx bx-upload' style="display: block;"></i>
                    <i class='bx bx-check' style="display: none;"></i>
                    <h4 class="text">Upload Image</h4>
                </a>
                <i class='bx bx-filter'></i>
            </div>
            
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Image</th>
                        <th>Name</th>
                        <th>Date Uploaded</th>
                        <th>Quantity</th>
                        <th>Limonene Content</th>
                    </tr>
                </thead>
                <tbody>
                    {{ range .Images }}
                    <tr>
                        <td>{{ .ID }}</td>
                        <td>
                            <img src="{{ .Image }}">
                        </td>
                        <td>{{ .Name }}</td>
                        <td>{{ .Date }}</td>
                        <td><span class="lim-percent">{{ .LimonenePercent }}%</span></td>
                        <td><span class="status 
                            {{if eq .IntensityNum 1}} low 
                            {{else if eq .IntensityNum 2}} medium 
                            {{else}} high 
                            {{end}}">
                                {{ .Intensity }}
                            </span></td>

                    </tr>
                    {{ end }}
                </tbody>
            </table>
        </div>
    </div>

</div>
{{ end }}